<script type="text/javascript">
    var attribs = {
        'Strength' : 'STR',
        'Stamina' : 'STA',
        'Sense' : 'SEN',
        'Agility' : 'AGI',
        'Intelligence' : 'INT',
        'Psychic' : 'PSY'
    }

    window.addEventListener('load', function () {
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
        fetch('update_display', {
            method: 'post',
            body: JSON.stringify({}),
            headers: {
                'Accept' : 'application/json',
                'Content-Type' : 'application/json',
                'X-CSRFToken': csrftoken
            }
        }).then(response => response.json())
        .then(data => {
            update_data(data)
        })
    })

    document.getElementById('load-dropdown').addEventListener('click', function(evt) {
        document.getElementById('load-dropdown-menu').classList.toggle('show')
    })

    document.getElementById('upload-button').addEventListener('click', upload_file)

    var selectElements = Array.from(document.getElementsByTagName('select'))
    selectElements.forEach(function(elem) {
        if (elem.id != 'cluster-lookup') {
            elem.addEventListener('change', update_imps);
        }
    })

    var qlElements = Array.from(document.querySelectorAll("input[type='number'][id$=ql]"))
    qlElements.forEach(function(elem) {
        elem.addEventListener('change', update_ql);
    })

    document.getElementById('update-all').addEventListener('change', update_all_ql)

    document.getElementById('cluster-lookup').addEventListener('change', lookup_cluster)

    document.getElementById('btn-reset').addEventListener('click', reset_all)

    function upload_file() {
        document.getElementById('load-dropdown-menu').classList.toggle('show')
        var input_file = document.getElementById('upload-file')
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

        var fd = new FormData()
        fd.append('upload_file', input_file.files[0])

        fetch('load_profile', {
            method: 'POST',
            body: fd,
            headers: {
                'X-CSRFToken': csrftoken
            }
        })
        .then(res => res.json())
        .then(data => {
            update_data(data)
        })
    }

    function update_imps(evt) {
        id = evt.srcElement.id
        val = evt.srcElement.value

        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
        
        fetch('update_imps', {
            method: 'post',
            body: JSON.stringify({'slot' : id, 'value' : val}),
            headers: {
                'Accept' : 'application/json',
                'Content-Type' : 'application/json',
                'X-CSRFToken': csrftoken
            }
        }).then(response => response.json())
        .then(data => {
            update_data(data)
        })
    }

    function update_ql(evt) {
        id = evt.srcElement.id
        val = evt.srcElement.value

        if (val < 1) { val = 1; }
        if (val > 300) { val = 300; }

        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

        fetch('update_ql', {
            method: 'post',
            body: JSON.stringify({'slot' : id, 'value' : val}),
            headers: {
                'Accept' : 'application/json',
                'Content-Type' : 'application/json',
                'X-CSRFToken': csrftoken
            }
        }).then(response => response.json())
        .then(data => {
            update_data(data)
        })
    }

    function update_all_ql(evt) {
        val = evt.srcElement.value

        if (val < 1) { val = 1; }
        if (val > 300) { val = 300; }

        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

        fetch('update_all_ql', {
            method: 'post',
            body: JSON.stringify({'value' : val}),
            headers: {
                'Accept' : 'application/json',
                'Content-Type' : 'application/json',
                'X-CSRFToken': csrftoken
            }
        }).then(response => response.json())
        .then(data => {
            update_data(data)
        })
    }

    function reset_all(evt) {
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

        fetch('reset_all', {
            method: 'post',
            headers: {
                'Accept' : 'application/json',
                'Content-Type' : 'application/json',
                'X-CSRFToken': csrftoken
            }
        }).then(response => response.json())
        .then(data => {
            update_data(data)
        })
    }

    function lookup_cluster(evt) {
        val = evt.srcElement.value

        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

        fetch('lookup_cluster', {
            method: 'post',
            body: JSON.stringify({'value' : val}),
            headers: {
                'Accept' : 'application/json',
                'Content-Type' : 'application/json',
                'X-CSRFToken': csrftoken
            }
        }).then(response => response.json())
        .then(data => {
            highlight_slots(data)
        })
    }

    function highlight_slots(data) {
        selects = Array.from(document.getElementsByTagName('select'))
        selects.forEach(function(elem) {
            elem.classList.remove('btn-success')
        })

        locations = JSON.parse(data.found)
        for (let loc in locations) {
            document.getElementById(locations[loc]).classList.toggle('btn-success')
        }
    }

    function clear_table(tbl) {
        while(tbl.lastChild) {
            tbl.removeChild(tbl.lastChild)
        }
    }

    function update_data(data) {
        if (data.next) {
            document.location = data.next;
        }

        results = document.getElementById('result-table')
        clear_table(results)

        construct = document.getElementById('construct-table')
        clear_table(construct)

        for (let slot in data.implants) {
            implant = data.implants[slot]

            //Update the build tab
            var shiny_id = slot + '-Shiny'
            var shiny_elem = document.getElementById(shiny_id)
            shiny_elem.value = implant.Shiny

            var bright_id = slot + '-Bright'
            var bright_elem = document.getElementById(bright_id)
            bright_elem.value = implant.Bright

            var faded_id = slot + '-Faded'
            var faded_elem = document.getElementById(faded_id)
            faded_elem.value = implant.Faded

            var ql_id = slot + '-ql'
            var ql_elem = document.getElementById(ql_id)
            ql_elem.value = implant.ql

            var attrib_req = document.getElementById(slot + '-attrib')
            if(implant.attrib_name == '') {
                attrib_req.textContent = ''
            }
            else {
                attrib_req.textContent = attribs[`${implant.attrib_name}`]
            }
            
            //Update the results tab
            if( ! (implant.Shiny == 'Empty' && implant.Bright == 'Empty' && implant.Faded == 'Empty')) {
                imp_row = document.createElement('tr')

                name_col = document.createElement('td')
                name_p = document.createElement('span')
                name_p.className = 'fw-bold'
                name_p.textContent = slot

                name_col.appendChild(name_p)
                imp_row.appendChild(name_col)

                //add this row to the construction table too

                con_imp_row = document.createElement('tr')
                con_imp_row.addEventListener('click', construct_imp)
                con_name_col = document.createElement('td')
                con_name_col.textContent = slot
                con_imp_row.appendChild(con_name_col)
                construct.appendChild(con_imp_row)

                ql_col = document.createElement('td')
                ql_p = document.createElement('span')
                ql_p.textContent = implant.ql
                ql_col.appendChild(ql_p)
                imp_row.appendChild(ql_col)

                bene_col = document.createElement('td')
                bene_list = document.createElement('ul')
                bene_list.classList.add('list-unstyled')

                if(implant.Shiny != 'Empty') {
                    bene_shiny_p = document.createElement('li')
                    bene_shiny_p.textContent = `${implant.Shiny}: ${implant.shiny_benefit}`
                    bene_list.appendChild(bene_shiny_p)
                }

                if(implant.Bright != 'Empty') {
                    bene_bright_p = document.createElement('li')
                    bene_bright_p.textContent = `${implant.Bright}: ${implant.bright_benefit}`
                    bene_list.appendChild(bene_bright_p)
                }

                if(implant.Faded != 'Empty') {
                    bene_faded_p = document.createElement('li')
                    bene_faded_p.textContent = `${implant.Faded}: ${implant.faded_benefit}`
                    bene_list.appendChild(bene_faded_p)
                }
                bene_col.appendChild(bene_list)
                imp_row.appendChild(bene_col)

                equip_col = document.createElement('td')

                equip_list = document.createElement('ul')
                equip_list.classList.add('list-unstyled')

                equip_treat = document.createElement('li')
                equip_treat.textContent = `Treatment: ${implant.treatment_value}`
                equip_list.appendChild(equip_treat)
                equip_attrib = document.createElement('li')
                equip_attrib.textContent = `${implant.attrib_name}: ${implant.attrib_value}`
                equip_list.appendChild(equip_attrib)

                if(implant.tl != 1) {
                    equip_tl = document.createElement('li')
                    equip_tl.textContent = `Title level: ${implant.tl}`
                    equip_list.appendChild(equip_tl)
                }
                
                equip_col.appendChild(equip_list)
                imp_row.appendChild(equip_col)

                build_col = document.createElement('td')

                build_list = document.createElement('ul')
                build_list.classList.add('list-unstyled')

                build_np = document.createElement('li')
                build_np.textContent = `Nanoprogramming: ${implant.np_req}`
                build_list.appendChild(build_np)

                var jobe_reqs = implant.jobe_reqs
                if(Object.keys(jobe_reqs).length > 0) {
                    for(key in jobe_reqs) {
                        build_jobe = document.createElement('li')
                        build_jobe.textContent = `${key}: ${jobe_reqs[key]}`
                        build_list.appendChild(build_jobe)
                    }
                }
                build_col.appendChild(build_list)
                imp_row.appendChild(build_col)
                results.appendChild(imp_row)
            }
        }
    }

    function construct_imp(evt) {
        tbl = document.getElementById('construct-table')
        elem = evt.srcElement
        row = elem.parentElement

        for(var i = 0; i < tbl.rows.length; i++) {
            tbl.rows[i].style.backgroundColor = ''
        }
        row.style.backgroundColor = 'teal'

        slot = elem.textContent
        np_skill = document.getElementById('np-skill').value
        be_skill = document.getElementById('be-skill').value
        psy_skill = document.getElementById('psy-skill').value
        qft_skill = document.getElementById('qft-skill').value
        pt_skill = document.getElementById('pt-skill').value
        ws_skill = document.getElementById('ws-skill').value
        cl_skill = document.getElementById('cl-skill').value

        skills = {
            'Nanoprogramming' : np_skill,
            'Break & Entry' : be_skill,
            'Psychology' : psy_skill,
            'Quantum FT' : qft_skill,
            'Pharma Tech' : pt_skill,
            'Weaponsmithing' : ws_skill,
            'Computer Literacy' : cl_skill
        }

        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
        
        fetch('construct_imp', {
            method: 'post',
            body: JSON.stringify({'slot' : slot, 'skills' : skills}),
            headers: {
                'Accept' : 'application/json',
                'Content-Type' : 'application/json',
                'X-CSRFToken': csrftoken
            }
        }).then(response => response.json())
        .then(data => {
            update_basic_steps(JSON.parse(data.basic_steps))
            update_ft_steps(JSON.parse(data.ft_steps))
        })
    }

    function update_basic_steps(data) {
        basic_steps = document.getElementById('basic-steps')
        basic_steps.innerHTML = ''

        for(idx in data) {
            new_li = document.createElement('li')
            new_li.textContent = data[idx]
            basic_steps.appendChild(new_li)
        }
    }

    function update_ft_steps(data) {
        ft_steps = document.getElementById('ft-steps')
        ft_steps.innerHTML = ''

        for(idx in data) {
            new_li = document.createElement('li')
            new_li.textContent = data[idx]
            ft_steps.appendChild(new_li)
        }
    }

</script>