<div class="modal fade" id="about" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">About Tinkerplants</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h3>What the heck is this?</h3>
            <p>
                Tinkerplants is a player-made tool for the science-fiction MMORPG <a href="https://anarchy-online.com">Anarchy Online</a>. In 2022, many existing implant design tools are either majorly out-of-date, no longer supported, or require download and installation. I've set out to create an updated, accurate tool that allows players to plan out their implants in a web-browser, with a few extra features that I've always wished other tools supported (JOBE clusters, refined implants, QL bumping, etc). 
            </p>
            <h3>How accurate is it?</h3>
            <p>
                As accurate as I can make it all by my little lonesome. I won't claim that it's perfect in every case, though, so if you find an inaccuracy, please get in touch and I'll get it fixed. Further, while it may be accurate, it may not always be optimal, particularly the implant construction steps - certain assumptions have to be made that may not always result in a perfectly optimal process. 
            </p>
            <h3>I need to contact you!</h3>
            <p>
                Great! I can be found on the official Anarchy Online discord as @FloridaMan, or you can email me at admin(AT)tinkeringidiot.com. 
            </p>
            <h3>What's your privacy policy?</h3>
            <p>
                Tinkerplants doesn't gather or store any information about you. There's no login or account, and there never will be. There is a session that stores only the implant profile you specify in the tool, and that is wiped after an hour of inactivity. You can download everything in that profile using the "Save Profile" button on the main page. Google Analytics is used to monitor visitor statistics, their privacy policy is <a href="https://policies.google.com/technologies/partner-sites">here</a>. 
            </p>
            <h3>Thanks!</h3>
            <p>
                Big thanks to <a href="https://auno.org">Auno</a> for creating the Anarchy Online database dumper I used to make Tinkerplants, and to <a href="https://github.com/bitnykk">Bitnykk</a> for updating it to support later versions of the game. Also thanks to <a href="https://www.ao-universe.com">the AO-Universe team</a> for the excellent guides on implants. Tinkerplants wouldn't have been possible without these fine folks, and I truly appreciate their efforts. 
            </p>
            <h3>How can I help?</h3>
            <p>
                Finding and reporting bugs is best, but if you'd like to help with hosting costs I certainly won't complain. I happily accept donations via <a href="https://www.patreon.com/tinkeringidiot">Patreon</a> and cryptocurrency. 
            </p>
            <ul>
                <li>DOGE: DJ6tSC15XdBa1NdKqFesmBbLRzJurTNzRt</li>
                <li>ETH: 0xE7b03120a0bf23ea42b59894D7B128025Cb504e5</li>
                <li>BTC: bc1qnkhm004yzdwkcscvrhdtvwkxlrm43p9w5hucgm</li>
                <li>BCH: bitcoincash:qznnpm5pu0tjgj7qtzn7zzdejsu2x28jnvkzehe9x3</li>
            </ul> 
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>