{% block navbar %}
<div class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">TinkerNukes</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="save-button" href="save_profile">Save Profile</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="load-dropdown" role="button" data-bs-toggle="dropdown">Load Profile</a>
            <ul class="dropdown-menu" id="load-dropdown-menu">
              <li>
                <input type="file" name="upload" id="upload-file">
                <button class="button button-sm btn-outline-success" id="upload-button">Load</button>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
              <a class="nav-link" role="button" data-bs-toggle="modal" data-bs-target="#about" aria-expanded="false">About</a>
          </li>
      </ul>
      </div>
    </div>
  </div>
{% endblock navbar %}