{% load static %}

<div class="row pb-2">
    <div class="card ps-0 pe-0 pb-0">
        <div class="card-header"><span class="fs-6">Attack Power</span></div>
        <table class="card-table table mb-0 pb-0">
            <tr>
                <td>Min Damage</td>
                <td class="text-end"><span class="fs-6">{{ MinDamage }}</span></td>
            </tr>
            <tr>
                <td>Max Damage</td>
                <td class="text-end"><span class="fs-6">{{ MaxDamage }}</span></td>
            </tr>
            <tr>
                <td>Critical Bonus</td>
                <td class="text-end"><span class="fs-6">{{ CriticalBonus }}</span></td>
            </tr>
            <tr>
                <td>Damage Type</td>
                <td class="text-end"><span class="fs-6">{{ DamageType }}</span></td>
            </tr>
            <tr>
                <td>MBS</td>
                {% if MaxBeneficialSkill %}<td class="text-end"><span class="fs-6">{{ MaxBeneficialSkill }}</span></td>
                {% else %}<td class="text-end"><span class="fs-6"> - </span></td>{% endif %}
            </tr>
        </table>
    </div>
</div>
