{% load static %}

{% if MinDamage or MaxDamage or CriticalBonus or DamageType or MaxBeneficialSkill %}
<div class="card ps-0 pe-0 pb-0">
    <div class="card-header"><span class="fs-6">Attack Power</span></div>
    <table class="card-table table mb-0 pb-0">
        <tr>
            <td>Min Damage</td>
            <td class="text-end"><span class="fs-6">{{ MinDamage }}</span></td>
        </tr>
        <tr>
            <td>Max Damage</td>
            <td class="text-end"><span class="fs-6">{{ MaxDamage }}</span></td>
        </tr>
        <tr>
            <td>Critical Bonus</td>
            <td class="text-end"><span class="fs-6">{{ CriticalBonus }}</span></td>
        </tr>
        <tr>
            <td>Damage Type</td>
            <td class="text-end"><span class="fs-6">{{ DamageType }}</span></td>
        </tr>
        <tr>
            <td>MBS</td>
            {% if MaxBeneficialSkill %}<td class="text-end"><span class="fs-6">{{ MaxBeneficialSkill }}</span></td>
            {% else %}<td class="text-end"><span class="fs-6"> - </span></td>{% endif %}
        </tr>
        {% if FullAutoRecharge %}
        <tr>
            <td>Full Auto</td>
            <td class="text-end"><span class="fs-6">{{ FullAutoRecharge }}</span></td>
        </tr>
        {% endif %}
        {% if BurstRecharge %}
        <tr>
            <td>Burst</td>
            <td class="text-end"><span class="fs-6">{{ BurstRecharge }}</span></td>
        </tr>
        {% endif %}
        
    </table>
</div>
{% endif %}
