{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="light dark">
        <meta name="description" content="Tinkertools are player utilities for sci-fi MMORPG Anarchy Online to help with implants, nanotechnician nukes, and weapon selection">
        <meta name="keywords" content="anarchy online implant designer nuke table weapon help tool utility">
        <title>TinkerTools</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'image/tools_favicon.ico' %}"/>
        <link rel="stylesheet" href="{% static 'css/bootstrap-night.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/tinkertools.css' %}">
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'js/datatables.min.js' %}"></script>
    </head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-41ZK5KTPF7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-41ZK5KTPF7');
</script>


    <body>
        {% block content %}
        {% endblock content %}
    </body>

</html>