{% extends "tinkertools/base.html" %}

{% block content %}

{% include "tinkertools/navbar.html" %}

<div class="container-fluid">
    {% csrf_token %}
    <div class="row">
        <div class="col col-md-3 col-lg-2">
            {% include "tinkertools/left_panel.html" %}
        </div>
        <div class="col col-md-6 col-lg-8">
            <div class="container">
                <div class="row">
                    <div class="d-flex justify-content-center">
                        <span class="h1">Welcome to TinkerTools!</span>
                        <hr>
                    </div>
                </div>
                <div class="row">&nbsp</div>
                <div class="row">
                    <span>
                        TinkerTools are a set of utilities and helpers for the Sci-Fi MMORPG <a href="https://www.anarchy-online.com">Anarchy Online</a>. They are provided free of charge to the player community in the hope that they can enhance the joy of playing one of the most complex and fun video games on Earth.  
                    </span>
                </div>
                <div class="row">&nbsp</div>
                <div class="row">
                    <span class="h2"><a href="/">TinkerItems</a></span>
                    <span class="text-justify">In 2023, AOItems.com went down, leaving our community with only a single items database available. I've set out to correct that as best I can by offering my own limited knowledge of the game's item database here on this site. See the Search bar in the upper left to get started!</span>
                </div>
                <div class="row">&nbsp</div>
                <div class="row">
                    <span class="h2"><a href="/tinkerplants">TinkerPlants</a></span>
                    <span class="text-justify">In 2022, many existing implant design tools are either majorly out-of-date, no longer supported, or require download and installation. I've set out to create an updated, accurate tool that allows players to plan out their implants in a web-browser, with a few extra features that I've always wished other tools supported (JOBE clusters, refined implants, QL bumping, etc). </span>
                </div>
                <div class="row">&nbsp</div>
                <div class="row">
                    <span class="h2"><a href="/tinkernanos">TinkerNanos</a></span>
                    <span class="text-justify">In 2023, the popular AO database 
                        site AOItems went offline for an extended period, and took the best resource for listing nano programs with it. I've set out to create an updated, accurate
                        tool that allows players to easily find the nanos they need.  </span>
                </div>
                <div class="row">&nbsp</div>
                <div class="row">
                    <span class="h2"><a href="/tinkernukes">TinkerNukes</a></span>
                    <span class="text-justify">After many years, existing Nanotechnician nuke tables are either majorly out-of-date, no longer supported, or have disappeared entirely. I've attempted to create an updated, accurate tool that allows NT players to quickly and easily identify nukes that will perform well for their current build and abilities.  </span>
                </div>
                <div class="row">&nbsp</div>
                <div class="row">
                    <span class="h2"><a href="/tinkerfite">TinkerFite</a></span>
                    <span class="text-justify">One of the outstanding difficulties in Anarchy Online is deciding which weapon to use. With over 10,000 weapons available, the "right" choice isn't always clear...assuming you even know what all the options are. Tinkerfite sets out to help alleviate that problem by suggesting weapons you can use based on your stats and skills, so you're always making an informed choice. </span>
                </div>
                <div class="row">&nbsp</div>
                <div class="row">
                    <span class="h2"><a href="/tinkerpocket">TinkerPocket</a></span>
                    <span class="text-justify">In February of 2023, one of AO's greatest resources for symbiants and pocket bosses, <a href="http://aopocket.tngk.com">http://aopocket.tngk.com</a> went offline. While we all hope this is a temporary situation, Tinkerpocket serves as a less-awesome backup to make that information available to players until it returns. </span>
                </div>
            </div>  
        </div>
        <div class="col col-md-3 col-lg-2">
            {% include "tinkertools/right_panel.html" %}
        </div>
    </div>
</div>

{% include "tinkertools/modals.html" %}

<script type="text/javascript">
    var time_span = document.getElementById('rk-clock')

    function time() {
        var rk_date = new Date()
        rk_date.setFullYear(rk_date.getFullYear() + 27474)
                            
        time_span.textContent = rk_date.toUTCString().slice(0, -4)
    }

    setInterval(time, 1000)
</script>
{% endblock content %}