<div class="modal fade" id="about" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">About TinkerItems</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h3>What the heck is this?</h3>
            <p>
                TinkerItems is a player-made tool for the science-fiction MMORPG <a href="https://anarchy-online.com">Anarchy Online</a>. With over 100,000 items and nanoprograms available in the game, it can be difficult to find the right one for your character. TinkerItems aims to make that easier by providing a simple, fast, and accurate search tool for the game's items.  
            </p>
            <h3>Where does the data come from?</h3>
            <p>
                Straight from the game client's very own database. I've created a tool, <a href="https://github.com/TheTinkeringIdiot/TinkerParse">TinkerParse</a> (based on Demoder's excellent AODb repo), that parses and dumps the game's database, which is then made available for you to look up here.
            </p> 
            <h3>I need to contact you!</h3>
            <p>
                Great! I can be found on the official Anarchy Online discord as TinkeringIdiot#7251 (@TinkeringIdiot), or you can email me at admin(AT)tinkeringidiot.com. 
            </p>
            <h3>What's your privacy policy?</h3>
            <p>
                TinkerItems doesn't gather or store any information about you. There's no login or account, and there never will be. There is a session that stores only the profile you specify in the tool, and that is wiped after 6 hours of inactivity. Google Analytics is used to monitor visitor statistics, their privacy policy is <a href="https://policies.google.com/technologies/partner-sites">here</a>. 
            </p>
            <h3>Thanks!</h3>
            <p>
                Big thanks to <a href="https://auno.org">Auno</a>, <a hre="https://aoitems.com">Demoder</a>, Delmus, and the AOCell team for creating very detailed tools that I've used to help me understand the game's item database. Huge thanks to the <a href="https://project-rk.com">Project Rubi-Ka team</a> for all their help answering questions and generally pointing me in the right direction to get to this point. TinkerItems wouldn't have been possible without all these fine folks, and I truly appreciate their efforts. I stand here on the shoulders of giants, and they deserve your praise, and my thanks.
            </p>
            <h3>How can I help?</h3>
            <p>
                Finding and reporting bugs is best, but if you'd like to help with hosting costs I certainly won't complain. I happily accept donations via <a href="https://www.patreon.com/tinkeringidiot">Patreon</a> and cryptocurrency. 
            </p>
            <ul>
                <li>DOGE: DJ6tSC15XdBa1NdKqFesmBbLRzJurTNzRt</li>
                <li>ETH: 0xE7b03120a0bf23ea42b59894D7B128025Cb504e5</li>
                <li>BTC: bc1qnkhm004yzdwkcscvrhdtvwkxlrm43p9w5hucgm</li>
                <li>BCH: bitcoincash:qznnpm5pu0tjgj7qtzn7zzdejsu2x28jnvkzehe9x3</li>
            </ul> 
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>

<div class="modal" id="save-modal" tabindex="-1">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Saved!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Save or share this link to your setup! (It's already on your clipboard)
            <p><p>
            <span id="save-link"></span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  