{% load static %}

<div class="pb-2 mt-2 mb-2 ">
    {% include "tinkertools/description_panel.html" %}
</div>
{% include "tinkertools/nano_attack_panel.html" %}
<div class="col col-md-3 ms-2">
    {% include "tinkertools/specials_panel.html" %}
    {% include "tinkertools/multiwield_panel.html" %}
</div>
<div class="col col-md-6 ms-2">
    {% include "tinkertools/atk_skill_panel.html" %}
    {% include "tinkertools/actions_panel.html" %}
</div>
<div class="col col-md-5 ms-2">
    {% include "tinkertools/def_skill_panel.html" %}
    {% include "tinkertools/spells_panel.html" %}
</div>
