{% load static %}

<div class="pb-2 mt-2 mb-2">
    {% include "tinkertools/description_panel.html" %}
</div>
<div class="row pb-2">
    <div class="col col-md-6">
        {% include "tinkertools/nano_attack_panel.html" %}
    </div>
    <div class="col col-md-6">
        {% include "tinkertools/nano_stats_panel.html" %}
    </div>
</div>
<div class="row pb-2">
    <div class="col col-md-6">
        {% include "tinkertools/atk_skill_panel.html" %}
    </div>
    <div class="col col-md-6">
        {% include "tinkertools/def_skill_panel.html" %}
    </div>
</div>
<div class="row pb-2">
    <div class="col col-md-6">
        {% include "tinkertools/actions_panel.html" %}
    </div>
    <div class="col col-md-6">
        {% include "tinkertools/spells_panel.html" %}
    </div>
</div>
