{% load static %}

<div class="pb-2 mt-2 mb-2 ">
    {% include "tinkertools/description_panel.html" %}
</div>
<div class="col weapon-column">
    <div class="card">
        <div class="card-header"><span class="fs-6">Weapons</span></div>
        <table class="weapontable">
            <tr>
                <td>{% if 'Hud1' in Slot %}<img class="pt-0 pb-0" src="{% static 'image/check-mark.png' %}" height="30px" width="30px">{% endif %}</td>
                <td>{% if 'Hud2' in Slot %}<img class="pt-0 pb-0" src="{% static 'image/check-mark.png' %}" height="30px" width="30px">{% endif %}</td>
                <td>{% if 'Hud3' in Slot %}<img class="pt-0 pb-0" src="{% static 'image/check-mark.png' %}" height="30px" width="30px">{% endif %}</td>
            </tr>
            <tr>
                <td>{% if 'Util1' in Slot %}<img class="pt-0 pb-0" src="{% static 'image/check-mark.png' %}" height="30px" width="30px">{% endif %}</td>
                <td>{% if 'Util2' in Slot %}<img class="pt-0 pb-0" src="{% static 'image/check-mark.png' %}" height="30px" width="30px">{% endif %}</td>
                <td>{% if 'Util3' in Slot %}<img class="pt-0 pb-0" src="{% static 'image/check-mark.png' %}" height="30px" width="30px">{% endif %}</td>
            </tr>
            <tr>
                <td>{% if 'RightHand' in Slot %}<img class="pt-0 pb-0" src="{% static 'image/check-mark.png' %}" height="30px" width="30px">{% endif %}</td>
                <td>{% if 'Deck' in Slot %}<img class="pt-0 pb-0" src="{% static 'image/check-mark.png' %}" height="30px" width="30px">{% endif %}</td>
                <td>{% if 'LeftHand' in Slot %}<img class="pt-0 pb-0" src="{% static 'image/check-mark.png' %}" height="30px" width="30px">{% endif %}</td>
            </tr>
            <tr>
                <td>{% if 'Deck1' in Slot %}<img class="pt-0 pb-0" src="{% static 'image/check-mark.png' %}" height="30px" width="30px">{% endif %}</td>
                <td>{% if 'Deck2' in Slot %}<img class="pt-0 pb-0" src="{% static 'image/check-mark.png' %}" height="30px" width="30px">{% endif %}</td>
                <td>{% if 'Deck3' in Slot %}<img class="pt-0 pb-0" src="{% static 'image/check-mark.png' %}" height="30px" width="30px">{% endif %}</td>
            </tr>
            <tr>
                <td>{% if 'Deck4' in Slot %}<img class="pt-0 pb-0" src="{% static 'image/check-mark.png' %}" height="30px" width="30px">{% endif %}</td>
                <td>{% if 'Deck5' in Slot %}<img class="pt-0 pb-0" src="{% static 'image/check-mark.png' %}" height="30px" width="30px">{% endif %}</td>
                <td>{% if 'Deck6' in Slot %}<img class="pt-0 pb-0" src="{% static 'image/check-mark.png' %}" height="30px" width="30px">{% endif %}</td>
            </tr>
        </table>
    </div>
</div>

{% include "tinkertools/attack_power_panel.html" %}
{% include "tinkertools/attack_stats_panel.html" %}

<div class="col col-md-3 ms-2">
    {% include "tinkertools/specials_panel.html" %}
    {% include "tinkertools/multiwield_panel.html" %}
</div>
<div class="row">&nbsp;</div>
<div class="col col-md-6 ms-2">
    {% include "tinkertools/atk_skill_panel.html" %}
    {% include "tinkertools/actions_panel.html" %}
</div>
<div class="col col-md-5 ms-2">
    {% include "tinkertools/def_skill_panel.html" %}
    {% include "tinkertools/spells_panel.html" %}
</div>
