<div class="modal fade" id="about" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">About TinkerFite</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h3>What the heck is this?</h3>
            <p>
                Tinkerfite is a player-made tool for the science-fiction MMORPG <a href="https://anarchy-online.com">Anarchy Online</a>. One of the outstanding difficulties in Anarchy Online is deciding which weapon to use. With over 10,000 weapons available, the "right" choice isn't always clear...assuming you eve know what all the options are. Tinkerfite sets out to help alleviate that problem by suggesting weapons you can use based on your stats and skills, so you're always making an informed choice.  
            </p>
            <h3>How accurate is it?</h3>
            <p>
                As accurate as I can make it using the best information the AO player community has to offer. I won't claim that it's perfect in every case, though, so if you find an inaccuracy, please get in touch and I'll get it fixed. The DPS calculations make some necessary assumptions (all attacks land and never miss, for example), and some educated guesses (attack rating bonus > 1000) and so are a little idealized, but still reasonable. 

            <h3>What's included in the DPS?</h3>
            <p>
                The DPS calculation accounts for weapon hits, critical strikes, attack rating bonus, added damage, and special attacks. Damage output is calculated for a 60 second window, and divided to give damage per seecond. 
            </p>
            <h3>I need to contact you!</h3>
            <p>
                Great! I can be found on the official Anarchy Online discord as TinkeringIdiot#7251 (@TinkeringIdiot), or you can email me at admin(AT)tinkeringidiot.com. 
            </p>
            <h3>What's your privacy policy?</h3>
            <p>
                Tinkerfite doesn't gather or store any information about you. There's no login or account, and there never will be. There is a session that stores only the profile you specify in the tool, and that is wiped after 6 hours of inactivity. Google Analytics is used to monitor visitor statistics, their privacy policy is <a href="https://policies.google.com/technologies/partner-sites">here</a>. 
            </p>
            <h3>Thanks!</h3>
            <p>
                Big thanks to <a href="https://auno.org">Auno</a> for creating the Anarchy Online database dumper I used to make Tinkerfite, and to <a href="https://github.com/bitnykk">Bitnykk</a> for updating it to support later versions of the game. Also thanks to <a href="https://www.ao-universe.com">the AO-Universe team</a> and all the wonderful AOWiki authors for the excellent guides on combat mechanics. And, of course, big thanks to Saavick, Starkness, Caloss2, and KelticDanor for their early feedback. Tinkerfite wouldn't have been possible without all these fine folks, and I truly appreciate their efforts. 
            </p>
            <h3>How can I help?</h3>
            <p>
                Finding and reporting bugs is best, but if you'd like to help with hosting costs I certainly won't complain. I happily accept donations via <a href="https://www.patreon.com/tinkeringidiot">Patreon</a> and cryptocurrency. 
            </p>
            <ul>
                <li>DOGE: DJ6tSC15XdBa1NdKqFesmBbLRzJurTNzRt</li>
                <li>ETH: 0xE7b03120a0bf23ea42b59894D7B128025Cb504e5</li>
                <li>BTC: bc1qnkhm004yzdwkcscvrhdtvwkxlrm43p9w5hucgm</li>
                <li>BCH: bitcoincash:qznnpm5pu0tjgj7qtzn7zzdejsu2x28jnvkzehe9x3</li>
            </ul> 
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>

<div class="modal" id="save-modal" tabindex="-1">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Saved!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Save or share this link to your setup! (It's already on your clipboard)
            <p><p>
            <span id="save-link"></span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  