<script type="text/javascript">

    $(document).ready(function() {
        $('#nuke-table').DataTable({
            order: [[ 14, 'desc' ]],
            pageLength: 25
        })
    })

    window.addEventListener('load', function () {
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
        fetch('update_display', {
            method: 'post',
            body: JSON.stringify({}),
            headers: {
                'Accept' : 'application/json',
                'Content-Type' : 'application/json',
                'X-CSRFToken': csrftoken
            }
        }).then(response => response.json())
        .then(data => {
            display_stats(data)
            update_stats()
        })
    })

    var selectElements = Array.from(document.getElementsByTagName('select'))
    selectElements.forEach(function(elem) {
        elem.addEventListener('change', update_stats);
    })

    var selectElements = Array.from(document.getElementsByTagName('input'))
    selectElements.forEach(function(elem) {
        elem.addEventListener('change', update_stats);
    })

    function update_stats(evt) {
        breed = document.getElementById('breed').value
        level = document.getElementById('level').value
        mc = document.getElementById('mc').value
        nano_init = document.getElementById('nano_init').value
        max_nano = document.getElementById('max_nano').value
        aggdef = document.getElementById('aggdef').value
        spec = document.getElementById('spec').value
        deck = document.getElementById('deck').value
        he = document.getElementById('he').value
        crunchcom = document.getElementById('crunchcom').value
        con = document.getElementById('CoN').value
        end = document.getElementById('END').value
        ns = document.getElementById('NS').value
        am = document.getElementById('AM').value
        nano_dmg = document.getElementById('nano_dmg').value
        cost_pct = document.getElementById('cost_pct').value
        body_dev = document.getElementById('body_dev').value
        psychic = document.getElementById('psychic').value
        nano_delta = document.getElementById('nano_delta').value
        target_ac = document.getElementById('target-ac').value
        dmg_type = document.getElementById('dmg-type').value

        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
        
        fetch('update_stats', {
            method: 'post',
            body: JSON.stringify({
                'breed' : breed, 
                'level' : level,
                'mc' : mc,
                'nano_init' : nano_init,
                'max_nano' : max_nano,
                'aggdef' : aggdef,
                'spec' : spec,
                'deck' : deck,
                'he' : he,
                'crunchcom' : crunchcom,
                'con' : con,
                'end' : end,
                'ns' : ns,
                'am' : am,
                'nano_dmg' : nano_dmg,
                'cost_pct' : cost_pct,
                'body_dev' : body_dev,
                'psychic' : psychic,
                'nano_delta' : nano_delta,
                'target_ac' : target_ac,
                'dmg_type' : dmg_type
            }),
            headers: {
                'Accept' : 'application/json',
                'Content-Type' : 'application/json',
                'X-CSRFToken': csrftoken
            }
        }).then(response => response.json())
        .then(data => {
            update_data(data)
        })
    }

    function display_stats(data) {
        stats = data['stats']

        document.getElementById('breed').value = stats['breed']
        document.getElementById('level').value = stats['level']
        document.getElementById('mc').value = stats['mc']
        document.getElementById('nano_init').value = stats['nano_init']
        document.getElementById('max_nano').value = stats['max_nano']
        document.getElementById('aggdef').value = stats['aggdef']
        document.getElementById('spec').value = stats['spec']
        document.getElementById('deck').value = stats['deck']
        document.getElementById('he').value = stats['he']
        document.getElementById('crunchcom').value = stats['crunchcom']
        document.getElementById('CoN').value = stats['CoN']
        document.getElementById('END').value = stats['END']
        document.getElementById('NS').value = stats['NS']
        document.getElementById('AM').value = stats['AM']
        document.getElementById('nano_dmg').value = stats['nano_dmg']
        document.getElementById('body_dev').value = stats['body_dev']
        document.getElementById('psychic').value = stats['psychic']
        document.getElementById('nano_delta').value = stats['nano_delta']
    }

    function clear_table(tbl) {
        while(tbl.lastChild) {
            tbl.removeChild(tbl.lastChild)
        }
    }

    function update_data(data) {
        if (data.next) {
            document.location = data.next;
        }

        stats = JSON.parse(data['stats'])

        document.getElementById('breed').value = stats['breed']
        document.getElementById('level').value = stats['level']
        document.getElementById('mc').value = stats['mc']
        document.getElementById('nano_init').value = stats['nano_init']
        document.getElementById('max_nano').value = stats['max_nano']
        document.getElementById('aggdef').value = stats['aggdef']
        document.getElementById('spec').value = stats['spec']
        document.getElementById('deck').value = stats['deck']
        document.getElementById('he').value = stats['he']
        document.getElementById('crunchcom').value = stats['crunchcom']
        document.getElementById('CoN').value = stats['CoN']
        document.getElementById('END').value = stats['END']
        document.getElementById('NS').value = stats['NS']
        document.getElementById('AM').value = stats['AM']
        document.getElementById('nano_dmg').value = stats['nano_dmg']
        document.getElementById('body_dev').value = stats['body_dev']
        document.getElementById('psychic').value = stats['psychic']
        document.getElementById('nano_delta').value = stats['nano_delta']
        
        nukes = JSON.parse(data.nukes)

        nuke_table = $('#nuke-table').DataTable()
        nuke_table.rows().remove()

        nukes.forEach(function(nuke) {
            nuke_table.row.add(nuke).draw()
        })

        
    }

    

</script>